* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    padding-top: 50px;
}

.journal {
    margin-top: 50px;
    min-width: auto;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border-style: ridge
}

.journal li {
    margin-left: 5%;
}