.root {
    -fx-background-color: "black";
}

.label {
    -fx-font-size: 19px;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#levelTitle {
    -fx-font-size: 21px;
}

#someText {
    -fx-font-size: 16px;
}

#levelBtn {
    -fx-alignment: center;
}